.Cast_container {
  background-color: #cac3a4;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Cast_title {
  color: rgb(0, 0, 0);
}

.Cast_list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1em;
  list-style-type: none;
}

.Cast_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;

  height: 400px;
}

.Cast_info {
  margin: 5px;
  color: rgb(0, 0, 0);
}
